:root {
  --borderColor : black ;
}
    
    
body { border: 10px solid var(--borderColor); }
    
    /*----------------------------------------------------*/    
/*----------------------------------------------------*/
#product-grid { border-top:4px solid var(--borderColor) ; }
    
#ProductGridContainer .grid__item{
  box-sizing:border-box;
  border-left:2px solid var(--borderColor) ;
  border-right:2px solid var(--borderColor) ;
  border-bottom:4px solid var(--borderColor) ;

}

#ProductGridContainer .grid__item:nth-of-type(1){ border-left:4px solid var(--borderColor) ; }
#ProductGridContainer .grid__item:nth-of-type(4){ border-right:4px solid var(--borderColor) ; }
#ProductGridContainer .grid__item:nth-of-type(5){ border-left:4px solid var(--borderColor) ; }
#ProductGridContainer .grid__item:nth-of-type(6){ border-right:4px solid var(--borderColor) ; }
/*----------------------------------------------------*/
/*----------------------------------------------------*/
