:root {
  --borderColor : black ;
}

.product-form__quantity { display: none ; }

body {
  border: 10px solid var(--borderColor);
}

    
    
form[data-type="add-to-cart-form"] {
  /*border: 10px solid yellow;*/
  width:50%;
  min-width:190px;
}
#product-grid {
  border:2px solid red;
}
    
#ProductGridContainer .grid__item{
  border-right:2px solid black ;
}
