:root {
  --borderColor : black ;
}

.product-form__quantity { display: none ; }

body {
  border: 10px solid var(--borderColor);
}

    
    
form[data-type="add-to-cart-form"] {
  /*border: 10px solid yellow;*/
  width:50%;
  min-width:190px;
}
#product-grid {
  border-top:2px solid red; 
}
    
#ProductGridContainer .grid__item{
  border:2px solid black ;
}

    #ProductGridContainer .grid__item:nth-of-type(1){
  border-left:2px solid blue ;
}
