:root {
  --seb : green ;
}

.product-form__quantity { display: none ; }

body {
  border: 10px solid var(--seb);
}

    
    
form[data-type="add-to-cart-form"] {
  border: 10px solid yellow;
  width:50%;
}
    
